In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [ ]:
for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [ ]:
# Print dictionary
print(f'{high_school_types}')

In [1]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [2]:
# Add the Pandas dependency.
import pandas as pd

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [ ]:
for school in school_series:
    print(school)

In [ ]:
# A dictionary of high schools, list of dictionaries
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
# Convert array (list of dictionaries) to a DataFrame.  DataFrame contains multiple Pandas Series,like list of dictionaries
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Add the list to a new DataFrame.
schools_df ["School ID"] = school_id
schools_df ["School Name"] = school_name
schools_df ["Type"] = type_of_school

# Print the DataFrame.
schools_df

In [ ]:
# Add the list to a new DataFrame. 
high_schools_dict = pd.DataFrame({"School ID":school_id, "School Name": school_name,'Type': type_of_school})

# Print the DataFrame.
high_schools_dict

In [ ]:
high_schools_df = pd.DataFrame(high_schools_dict)
high_schools_df

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
school_df.columns

In [ ]:
# Skill Drill - create list of indexes
sd_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [ ]:
for number in sd_school_id:
    print(number)

In [ ]:
# Skill Drill - create list of high schools
sd_high_schools = ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School", "Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]

In [ ]:
for school in sd_high_schools:
    print(school)

In [ ]:
# Skill Drill - create list of school types
sd_school_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter",]

In [ ]:
for type in sd_school_type:
    print(type)

In [ ]:
# Skill Drill, add each list to a new Pandas DataFrame. Initialize new data frame
sd_schools_df = pd.DataFrame()

In [ ]:
sd_schools_df["School ID"] = sd_school_id
sd_schools_df["School Name"] = sd_high_schools
sd_schools_df["Type"] = sd_school_type

# Print the DataFrame.
sd_schools_df